{% extends 'layouts/app.html' %}

{% block title %}BF Test App{% endblock %}
{% block meta_description %}Compete against yourself and others by guessing the
outcome of a dice roll. Win points and dominate the leaderboard.{% endblock %}

{% block body %}

<h1>BASE APPLICATION v0.1</h1>
<p>This is a Python Flask application foundation.</p>
<p>Python installed on this server is {{ msg }} </p>

<br>
<br>
<h1>ROUTES</h1>
<br>
    <a href="http://{{ config.get('SERVER_NAME') }}/track">
      http://{{ config.get('SERVER_NAME') }}/track
    </a>

<br>

    <a href="http://{{ config.get('SERVER_NAME') }}/health">
        http://{{ config.get('SERVER_NAME') }}/health
    </a>

<br>

<a href="http://{{ config.get('SERVER_NAME') }}/get_ip">
    http://{{ config.get('SERVER_NAME') }}/get_ip
</a>

<br>


    <a href="http://{{ config.get('SERVER_NAME') }}/log">
        http://{{ config.get('SERVER_NAME') }}/log
    </a>

<br>

    <a href="http://{{ config.get('SERVER_NAME') }}/log-apm">
        http://{{ config.get('SERVER_NAME') }}/log-apm
    </a>

<br>

<a href="http://{{ config.get('SERVER_NAME') }}/log-apm-error">
    http://{{ config.get('SERVER_NAME') }}/log-apm-error
</a>

<br>

<a href="http://{{ config.get('SERVER_NAME') }}:81">
    http://{{ config.get('SERVER_NAME') }}:81
</a>

<br>

{% endblock %}
