{% extends 'layouts/base.html' %}

{% block header %}
  <a href="{{ url_for('page.home') }}">
    <img src="{{ url_for('static', filename='images/bf-large.jpg') }}"
         class="img-responsive center-block md-margin-bottom"
         width="178" height="176" title="BF" alt="BF"/>
  </a>
{% endblock %}

{% block footer %}
  <li><a href="">Sign up today</a></li>
{% endblock %}
