{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}
{% block title %}Tracking{% endblock %}
{% block heading %}<h2>GPS Coordinates Tracker.</h2>{% endblock %}

{% block body %}

<style>
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  

  </style>



<div>       
    <form action = "http://localhost:5000/result" method = "POST">
      {{ form.hidden_tag() }}
      {{ caller () }}
      <p>Target ID<input type = "text" name = "t_id" /></p>
      <p>Target Latitude<input type = "text" name = "t_lat" /></p>
      <p>Target Longitude<input type = "text" name = "t_lon" /></p>
      <p><input type = "submit" value = "submit" /></p>
    </form>
</div>
   


{% endblock %}
