{% extends 'layouts/app.html' %}
{% block title %}Tracking Result{% endblock %}
{% block heading %}<h2>GPS Coordinates Tracker Table of Results.</h2>{% endblock %}

{% block body %}

<style>
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  padding: 15px;
}
</style>

<div>       

    <table border = 1>
    
        <tr>
          <th>  T_ID  </th>
          <td> {{ result.t_id }} </td>
        </tr>
        <tr>
          <th>  T_LAT  </th>
          <td> {{ result.t_lat }} </td>
        </tr>
        <tr>
          <th>  T_LON  </th>
          <td> {{ result.t_lon }}</td>
        </tr>

    </table>


</div>
   
{% endblock %}
