{% extends 'layouts/app.html' %}

{% block title %}Tracking{% endblock %}
{% block heading %}<h2>GPS Coordinates Tracker.</h2>{% endblock %}

{% import 'macros/form.html' as f with context %}



{% block body %}

<style>
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  

  </style>

{% call f.form_tag('track.track') %}

        {% call f.form_group(form.t_id, css_class='sm-margin-bottom',
                             autofocus='autofocus') %}
        {% endcall %}

        {% call f.form_group(form.t_lat, css_class='sm-margin-bottom') %}
        {% endcall %}

        {% call f.form_group(form.t_lon, css_class='sm-margin-bottom') %}
        {% endcall %}

        <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-block">
              Submit Location Data
            </button>
        </div>

{% endcall %}   


{% endblock %}
