{% extends 'layouts/app.html' %}

{% block title %}Health Dashboard{% endblock %}
{% block heading %}<h2>This is applicaiton health dashboard.</h2>{% endblock %}

{% block body %}


<div>       

</div>
   
{% endblock %}
